<section class="todoapp">
  <header class="header">
    <h1>To-dos</h1>
    <form id="new-form">
      <input type="text" class="new-todo" placeholder="What do you need to do?">
    </form>
  </header>

  <section class="main">
    <ul class="todo-list">

    </ul>
  </section>
</section>

<section class="author">
  a <%= link_to "todo-mvc", "http://todomvc.com" %> Rails application, built by <%= link_to "Rebecca Taylor", "http://github.com/kindlingscript" %>
</section>
